<html>
<head>
<title>Categories</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>REQUEST INFO:</h2>
<div class="error"> IP Address: <th:block th:text="${ipAddress}"></th:block></div>
<div class="error"> Client Agent: <th:block th:text="${clientAgent}"></th:block></div>

<th:block th:if="${session.user != null}">
<h2>USER INFO:</h2>
<div class="error"> Username: <th:block th:text="${session.user.username}"></th:block></div>
<div class="error"> Name: <th:block th:text="${session.user.name}"></th:block></div>
<div class="error"> Surname: <th:block th:text="${session.user.surname}"></th:block></div>
    <div>
        <a href="/logout">Logout</a>
    </div>
</th:block>

<h2>Categories</h2>
<ul>
    <li th:each="category : ${categories}"> <th:block th:text="${category.name}"></th:block></li>
</ul>

<h3>Add a new category</h3>
<form th:method='POST' th:action='@{/servlet/category}'>" +
    <label for='name'>Name:</label><input id='name' type='text' name='name'/>
    <label for='desc'>Description:</label><input id='desc' type='text' name='desc'/>
    <input type='submit' value='Submit'/>"
    </form>
</body>
</html>